/*button{*/
/*    cursor: pointer;*/
/*}*/
/*.css-1h4lltl {*/
/*    display: block;*/
/*    padding: 0px 10px;*/
/*    text-align: center;*/
/*    !* overflow: hidden; *!*/
/*    width: 104px;*/
/*    height: 36px;*/
/*    border-radius: 4px;*/
/*    color: rgb(51, 51, 51);*/
/*    background-color: rgb(255, 255, 255);*/
/*    border: 1px solid rgb(221, 221, 221);*/
/*    cursor: pointer;*/
/*}*/
/*.css-102v0ri {*/
/*    display: block;*/
/*    padding: 0px 10px;*/
/*    text-align: center;*/
/*    overflow: hidden;*/
/*    width: 104px;*/
/*    height: 36px;*/
/*    border-radius: 4px;*/
/*    color: rgb(95, 0, 128);*/
/*    background-color: rgb(255, 255, 255);*/
/*    border: 1px solid rgb(95, 0, 128);*/
/*}*/
/*.css-102v0ri span {*/
/*    display: flex;*/
/*    -webkit-box-align: center;*/
/*    align-items: center;*/
/*    -webkit-box-pack: center;*/
/*    justify-content: center;*/
/*}*/
/*.css-1m3kac1 {*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin-right: 4px;*/
/*    vertical-align: middle;*/
/*}*/

button {
    cursor: pointer;
}

.css-1h4lltl {
    display: block;
    padding: 0px 10px;
    text-align: center;
    /* overflow: hidden; */
    width: 104px;
    height: 36px;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    margin-bottom: 4px;
}

.css-102v0ri {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 104px;
    height: 36px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}

.css-102v0ri span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-1m3kac1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
}

.a {
    display: flex;
    padding: 24px 20px;
    border-top: 1px solid rgb(244, 244, 244);

}

.b {
    display: flex;
    padding-left: 16px;
    width: 500px;
    justify-content: space-between;
}

.c {
    padding: 0px 20px;

}

.d {
    margin-top: 6px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.span1 {
    margin-right: 4px;
    font-size: 16px;
    color: rgb(250, 98, 47);
    font-weight: bold;
}

.span2 {
    margin-right: 4px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;

}

.span3 {
    margin-right: 4px;
    color: rgb(181, 181, 181);
    font-size: 14px;
    text-decoration: line-through;
}

img {
    /* display: inline-block; */
    width: 60px;
    height: 78px;
}

.title {
    display: flex;
    align-items: center;
    padding-bottom: 27px;
    border-bottom: 2px solid rgb(51, 51, 51);
}

.h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
    margin: 0px;
}

.titlespan {
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}