<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.jangbogo.mall.domain.User"/>
        <typeAlias alias="Seller" type="com.jangbogo.mall.domain.Seller"/>
        <typeAlias alias="SellerDtl" type="com.jangbogo.mall.domain.SellerDtl"/>
        <typeAlias alias="UserDetailsDto" type="com.jangbogo.mall.domain.UserDetailsDto"/>
        <typeAlias alias="WishlistDto" type="com.jangbogo.mall.domain.WishlistDto"/>
        <typeAlias alias="ProductDto" type="com.jangbogo.mall.domain.ProductDto"/>
        <typeAlias alias="ProductDtl" type="com.jangbogo.mall.domain.ProductDtl"/>
        <typeAlias alias="ProductFile" type="com.jangbogo.mall.domain.ProductFile"/>

        <typeAlias alias="ProdInqryDto" type="com.jangbogo.mall.domain.ProdInqryDto"/>
        <typeAlias alias="JoinProdInqryDto" type="com.jangbogo.mall.domain.JoinProdInqryDto"/>
        <typeAlias alias="ProductDetailDto" type="com.jangbogo.mall.domain.ProductDetailDto"/>
        <typeAlias alias="ProductFileDto" type="com.jangbogo.mall.domain.ProductFileDto"/>
        <typeAlias alias="RegistProductDto" type="com.jangbogo.mall.domain.RegistProductDto"/>

        <typeAlias alias="CartDto" type="com.jangbogo.mall.domain.CartDto"/>
        <typeAlias alias="Address" type="com.jangbogo.mall.domain.Address"/>
        <typeAlias alias="OrderDto" type="com.jangbogo.mall.domain.OrderDto"/>
        <typeAlias alias="OrderDetailDto" type="com.jangbogo.mall.domain.OrderDetailDto"/>
        <typeAlias alias="OrderHistoryDto" type="com.jangbogo.mall.domain.OrderHistoryDto"/>
        <typeAlias alias="PaymentDto" type="com.jangbogo.mall.domain.PaymentDto"/>
        <typeAlias alias="DeliveryDto" type="com.jangbogo.mall.domain.DeliveryDto"/>
        <typeAlias alias="KakaoReadyResponseDto" type="com.jangbogo.mall.domain.KakaoReadyResponseDto"/>
        <typeAlias alias="KakaoApproveResponseDto" type="com.jangbogo.mall.domain.KakaoApproveResponseDto"/>
        <typeAlias alias="ProdReviewDto" type="com.jangbogo.mall.domain.ProdReviewDto"/>
    </typeAliases>
</configuration>