<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.jangbogo.mall.domain.User"/>
<!--        <typeAlias alias="Attach" type="com.jangbogo.mall.domain.User"/>-->
        <typeAlias alias="WishlistDto" type="com.jangbogo.mall.domain.WishlistDto"/>
        <typeAlias alias="ProductDto" type="com.jangbogo.mall.domain.ProductDto"/>

    </typeAliases>
</configuration>