<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jangbogo.mall.dao.MyOrderDetailMapper">
    <select id="selectAll" parameterType="int" resultType="MyOrderDetailDto">
        select PRODUCT.UPLOAD_PATH,ORD_DTL.IDX as ord_dtl_idx, ORD_DTL.PROD_NM, ORD_DTL.PROD_IDX, ORD_DTL.PROD_PRC, ORD_DTL.PROD_QTY, ORD_DTL.RTNG_QTY,ORD_DTL.PROD_TOT_AMT, ORD_DTL.ORD_STATE_CD, ORD_DTL.PROD_LATE_STATE_CD, ORD_DTL.CNCL_POSBL_STATE_CD, SETL.ORD_TOT_AMT,SETL.AMT, SETL.MN_CD,ORD.IDX, ORD.ORDR_NM, ORD.ORD_TM, DLVRY.SFKP_MTD_CD, DLVRY.PACK_MTD_CD, DLVRY.RCPR_NM, DLVRY.RCPR_MPNO, DLVRY.RCPR_ADDR_BASE, DLVRY.RCPR_ADDR_DTL, DLVRY.PLRCV, DLVRY.GATE_PWD
        from ORD, PRODUCT,(select *
                           from SETL
                           where ORD_IDX = #{ord_idx}) as SETL, (select *
                                                        from DLVRY
                                                        where ORD_IDX = #{ord_idx}) as DLVRY, (select *
                                                                                      from ORD_DTL
                                                                                      where ORD_IDX = #{ord_idx}) as ORD_DTL
        where ORD.IDX = #{ord_idx} and ORD_DTL.PROD_IDX = PRODUCT.IDX;
    </select>

    <update id="updateReviewState" parameterType="int">
        update ORD_DTL
        set PROD_LATE_STATE_CD = 3
        where IDX= #{ord_dtl_idx};
    </update>


</mapper>