<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jangbogo.mall.dao.WishlistMapper">

    <select id="getlist" parameterType="int" resultType="WishlistDto">
        select PROD_IDX, USER_IDX, REG_TM, CRT_TM, CRT_IDX, UPT_TM, UPT_IDX
        from WISHLIST
        where USER_IDX = ${idx}
    </select>

    <delete id="delete" parameterType="map">
        DELETE FROM WISHLIST
        WHERE PROD_IDX = ${prod_idx} and USER_IDX = ${user_idx}
    </delete>
    
    <insert id=""

</mapper>