<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jangbogo.mall.dao.WishlistMapper">

<!--    <select id="getlist" parameterType="int" resultType="ProductDto">-->
<!--        select PRODUCT.*-->
<!--        from WISHLIST , PRODUCT-->
<!--        where WISHLIST.PROD_IDX = PRODUCT.IDX and WISHLIST.USER_IDX = #{idx}-->
<!--        order by WISHLIST.REG_TM;-->
<!--    </select>-->

    <select id="getlist" parameterType="int" resultType="ProductDto">
        select p.*
        from (select * from PRODUCT) p, WISHLIST w
        where p.IDX = w.PROD_IDX and w.USER_IDX= #{user_idx}
        order by w.REG_TM;
    </select>


    <delete id="delete" parameterType="map">
        DELETE FROM WISHLIST
        WHERE PROD_IDX = #{prod_idx} and USER_IDX = #{user_idx}
    </delete>

    <insert id="insertCart" parameterType="map">
        insert into CART (PROD_IDX, USER_IDX, PROD_CNT)
        values (#{prod_idx},#{user_idx},#{prod_cnt})

    </insert>
    <update id="updateCartCnt" parameterType="map">
        UPDATE CART
        SET   PROD_CNT = PROD_CNT + #{cnt}
        WHERE  PROD_IDX = #{prod_idx} and USER_IDX = #{user_idx}
    </update>

    <select id="checkCart" parameterType="map" resultType="int">
        select count(*)
        from CART
        where PROD_IDX = #{prod_idx} and USER_IDX = #{user_idx}
    </select>



</mapper>